@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat&display=swap');

body {
font-family: "Calibri", serif;
background-color: #1E0D0D;
color: #CECACA;
}

#bgimg {
display: block;
position: fixed;
overflow: auto;
left: 25%;
width: 50%;
height: auto;
opacity: 0.3;
z-index: -100;
}

a {
color: #BCB8D8;
}

button {
background-color: transparent;
color: #BCB8D8;
cursor: pointer;
text-decoration: underline;
font-weight: bold;
font-size: 12pt;
border: none;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 10%;
min-width: 200px;
background-color: rgba(17, 6, 6, 0.4);
position: fixed;
overflow: auto;
border: 1px solid #555555;
border-bottom: none;
z-index: 2;
}

li a:not(.wikiLink) {
display: block;
color: #CECACA;
padding: 8px 16px;
text-decoration: none;
text-align: center;
border-bottom: 1px solid #555555;
}

.quoteBlock {
display: block;
font-style: italic;
text-indent: 2em;
line-height: 1.5;
}

li:last-child {
border-bottom: none;
}

li a:hover {
background-color: #5A3754;
}

li a:active {
background-color: #8C2E3D;
}

tr *:not(a,button,i,p,span,sup) {
border: 1px solid #555555;
text-align: center;
}

th {
background-color: #121216;
}

td {
background-color: #262633;
}

.title1 {
background-color: #1E0D0D;
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-size: 48pt;
font-style: normal;
font-weight: 500;
position: absolute;
z-index: 1;
left: 0%;
width: 100%;
text-align: center;
}

.title2 {
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-size: 32pt;
font-style: normal;
font-weight: 400;
}

.title3 {
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-size: 18pt;
font-style: normal;
font-weight: 500;
}

.smalltext {
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-size: 9pt;
font-style: normal;
font-weight: 400;
}

.subdiv {
display: none;
opacity: 0;
position: absolute;
left: 25%;
top: 22.5%;
width: 70%;
z-index: -1;
}

.subdiv:target {
display: block;
opacity: 1;
z-index: 0;
}

.icon {
position: fixed;
left: 3%;
bottom: 5%;
height: 7%;
max-height: 130px;
width: auto;
border: 0;
}

.letter {
display: block;
margin: auto;
width: 60px;
height: auto;
}

.number {
display: block;
margin: auto;
width: auto;
height: 60px;
}

.sample {
display: block;
margin: auto;
height: 120px;
width: auto;
}

#gitRev {
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-size: 9pt;
font-style: normal;
font-weight: 400;
position: fixed;
left: 3%;
bottom: 18%;
}

#lexRibbon th {
width: 24px;
}

#happy {
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
opacity: 0;
z-index: 1;
}

#normal {
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
opacity: 1;
z-index: 2;
}
